

h1, p, a, h2, h3, h2, h5
    
    .ibm-plex-mono-thin {
        font-family: "IBM Plex Mono", serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .ibm-plex-mono-extralight {
        font-family: "IBM Plex Mono", serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .ibm-plex-mono-light {
        font-family: "IBM Plex Mono", serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .ibm-plex-mono-regular {
        font-family: "IBM Plex Mono", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .ibm-plex-mono-medium {
        font-family: "IBM Plex Mono", serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .ibm-plex-mono-semibold {
        font-family: "IBM Plex Mono", serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .ibm-plex-mono-bold {
        font-family: "IBM Plex Mono", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .ibm-plex-mono-thin-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .ibm-plex-mono-extralight-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .ibm-plex-mono-light-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .ibm-plex-mono-regular-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .ibm-plex-mono-medium-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .ibm-plex-mono-semibold-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .ibm-plex-mono-bold-italic {
        font-family: "IBM Plex Mono", serif;
        font-weight: 700;
        font-style: italic;
      }
      
/* HEADER */


#logo h1 {
    font-weight: 700;
    font-size: large;
    text-align: left;
    margin-top: auto;
     
}

#logo h3 {
    font-weight: 300;
    font-size: small;
    text-align: left;
    
}


ul{
    list-style: none;
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-left: 37%;
    margin-top: -5%; 
}


h1{
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
    margin-top: 17.5%;
    
}

.animated-text {
    animation-name: color-animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes color-animation {
    0% {
        background-color: red;
    }
    50% {
        background-color: deeppink;
    }
    100% {
        background-color: cyan;
    }
}

h2{
    text-align: center;
    font-size: small;
    margin-top: -1.5%;

}


a{
    font-weight: 600;
    color: red;
}

@media screen and (max-width: 520px) {
    header, ul {
    flex-direction: row;
    gap: 5px;
    align-items: start;
    margin-top: 10%;
    align-content: center;
    margin-left: 0;
    padding-left: 0%;
}
li {
    margin-left: 0;
}

}

/* MAIN */

.main-img {
    width: 12%;
    margin-right: 0.26%;
    
}

.main-img2 {
    width: 12%;
    margin-right: 0.26%;
 
}

.main-img3 {
    width: 12%;
    margin-right: 0.26%;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.5%;
    padding-bottom: 17.5%;
    border-bottom: 1px solid white;

}

/*images first collection */

.grid-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6%;
}


.elcolegio{
    text-align: center;
    font-size: 0.68vw;
    font-weight: 300;
    margin-top: -45.5%;
    margin-left: 10%;
    margin-bottom: 5%;
    color: white;
}


.colegio{
    width: 15%;
    margin-right: 5px;
    margin-top: 0.26%;
}



.title{
    text-align: center;
    font-size: 0.68vw;
    font-weight: 300;
    margin-top: -28%;
}


.la-lista-de-espera{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.5%;
    padding-bottom: 17.5%;
    border-bottom: 1px solid white;
}

.lista{
    width: 15%;
    margin-right: 0.26%;
    margin-top: 21%;
}


.titulo{
    text-align: center;
    font-size: 0.68vw;
    font-weight: 300;
    margin-top: -17.5%;
}

.las-chicas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.5%;
    padding-bottom: 17.5%;
    border-bottom: 1px solid white;
}

.chicas{
    width: 15%;
    margin-right: 0.26%;
    margin-top: 21%;
}


.sicilia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.5%;
    padding-bottom: 17.5%;
    border-bottom: 1px solid white;

}

.sicilia-images{
    width: 15%;
    margin-right: 0.26%;
    margin-top: 21%;
}


.universidad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.5%;
    padding-bottom: 17.5%;
    border-bottom: 1px solid white;

}

.universidad-images{
    width: 15%;
    margin-right: 0.26%;
    margin-top: 21%;
}



body{
    background-color: black;
}

h1, p, h2, h3, h2, h5 {
    color: white;
}

@media screen and (max-width: 520px) {
    .colegio, .lista, .chicas, .sicilia-images, .universidad-images{
        width: 40%;
    }
    .grid-one{
        flex-direction: column;
    }
}



/*CONTACT PAGE*/


.contact-box{
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    margin-top: 5.56%;
    font-weight: 400;
    color: red;

}



.contact-info{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 21%;
    text-align: center;
   
}

#name, #e-mail, #message, #button{
    width: 25%;

}


/* FOOTER */

footer {
    margin-top: 19rem;
    border-top: 1px solid white; 
}

h5{
    text-align: left;
    font-size: 0.68vw;
    font-weight: 600;
    
}

.haha{

    font-size: 0.68vw;
    font-weight: 300;
    padding-left: 15.8%;
    padding-top: -28%;
}

.button1 {
    color:blueviolet;
}

/* GALLERY */

.muestra-container{
    display: grid;
    /* grid-template-columns: repeat (5, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;
}

.muestra-uno{
    color: red;
    font-weight: 200;
    width: 60%;
    max-width: 100vw;
    display: flex;
    margin-top: 4rem; 
    margin-left: 1.5rem;
}

@media screen and (max-width: 520px) {
    .muestra-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .muestra-uno{
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
    }

    .the-catalogue{
        margin-left: -10;
    }
    header, ul {
        flex-direction: row;
        gap: 5px;
        align-items: start;
        margin-top: 10%;
        align-content: center;
        margin-left: 0;
        padding-left: 0%;
    }
    li {
        margin-left: 0;
    }

}